<h3>BEM--VINDO</h3>

<table class="table table-hover table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Banda</th>
        <th scope="col">Local</th>
        <th scope="col">Data</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Raça Negra</td>
        <td>Sesi</td>
        <td>02/05/2018</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Turma do Pagode</td>
        <td>Vila Germanica</td>
        <td>20/08/2018</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Thiaguinho</td>
        <td>Obs</td>
        <td>28/09/2018</td>
      </tr>
    </tbody>
  </table>