<h3>BEM-VINDO</h3>

<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Banda</th>
        <th scope="col">Local</th>
        <th scope="col">Data</th>
        <th scope="col"colspan=2>Ação</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let evento of eventos">
        <td>{{evento.nome}}</td>
        <td>{{evento.local}}</td>
        <td>{{evento.data | amCalendar}}</td>
        <td><a [routerLink]="['/edit', evento.id]" class="btn btn-primary">Editar</a></td>
        <td><a (click)="removerEvento(evento.id)" class="btn btn-danger">Remover</a></td>
      </tr>
     

    </tbody>
  </table>