<form>
  <div class="form-group">
    <label for="formGroupExampleInput">Banda</label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">Local</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput">Data</label>
    <input type="date" class="form-control" id="formGroupExampleInput" placeholder="Example input">
  </div>
</form>
