<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Cadastro de Banda</h4>
    <button type="button" class="close" aria-label="Fechar" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="bandaForm" novalidate>
      <div class="form-group">
        <label for="formGroupExampleInput2">Nome</label>
        <input type="text" class="form-control" id="formGroupExampleInput2" formControlName="nome" #nome>
      </div>
      <div *ngIf="bandaForm.controls['nome'].invalid && (bandaForm.controls['nome'].dirty || bandaForm.controls['nome'].touched)"
            class="alert alert-danger">
        <div *ngIf="bandaForm.controls['nome'].errors.required">
          Nome é obrigatório.
        </div>
      </div>

      <div class="form-group">
        <label for="formGroupExampleInput2">Integrantes</label>
        <input type="text" placeholder="Insira os nomes dos integrantes separados por vírgula" class="form-control" id="formGroupExampleInput2" formControlName="integrantes" #integrantes>
      </div>
      <div *ngIf="bandaForm.controls['integrantes'].invalid && (bandaForm.controls['integrantes'].dirty || bandaForm.controls['integrantes'].touched)"
            class="alert alert-danger">
        <div *ngIf="bandaForm.controls['integrantes'].errors.required">
          Integrantes é obrigatório.
        </div>
      </div>

      <div class="form-group">
        <label for="formGroupExampleInput2">Contato</label>
        <input type="tel" class="form-control" id="formGroupExampleInput2" formControlName="contato" #contato>
      </div>
      <div *ngIf="bandaForm.controls['contato'].invalid && (bandaForm.controls['contato'].dirty || bandaForm.controls['contato'].touched)"
            class="alert alert-danger">
        <div *ngIf="bandaForm.controls['contato'].errors.required">
          Contato é obrigatório.
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Fechar</button>
    <button (click)="cadastrarBanda()" type="button" class="btn btn-primary">Cadastrar</button>
  </div>
</ng-template>
<button class="btn btn-outline-secondary" (click)="open(content)">Adicionar Banda</button>

